<!DOCTYPE html>
<html>
<title>{% block title%} {% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="http://127.0.0.1:8000/" class="w3-bar-item w3-button"><b>IOT</b> Scanner</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="http://127.0.0.1:8000/ui/ip" class="w3-bar-item w3-button">IP Checkup</a>
      <a href="http://127.0.0.1:8000/ui/wifi" class="w3-bar-item w3-button">Wifi Deauth.</a>
      <a href="http://127.0.0.1:8000/ui/ps" class="w3-bar-item w3-button">Port Scanner</a>
      <a href="http://127.0.0.1:8000/ui/mitm" class="w3-bar-item w3-button">MITM</a>
      <a href="http://127.0.0.1:8000/ui/ns" class="w3-bar-item w3-button">Net Scan</a>
      <a href="http://127.0.0.1:8000/ui/dos" class="w3-bar-item w3-button">Dos</a>
      <a href="http://127.0.0.1:8000/ui/mirai" class="w3-bar-item w3-button">Mirai</a>
      <a href="http://127.0.0.1:8000/ui/ripple" class="w3-bar-item w3-button">Ripple</a>

    </div>
  </div>
</div>
</body>
</html>

